body {
  background-color: aliceblue;
}

.gridLayout {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto;
}

#header {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: lightgray;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  border-style: inset;
  border-color: 2px white;
}

#leftHeader {
  margin: 5px;
  grid-column: 1;
}

#rightHeader {
  margin: 5px;
  grid-column: 3;
}

#nav {
  grid-column: 1;
  grid-row: 2;
  background-color: lightgray;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  border-style: inset;
  border-color: 2px white;
  max-width: 150px;
  margin-top: 15px;
}

.roomContainer p {
  border-style: solid;
  border-color: darkcyan;
}

.roomContainer p:hover {
  cursor: pointer;
}

.month {
  height: 125px;
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 1fr;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  width: calc(84rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: black;
  color: #eee;
  margin: 15px;
}
